<div id="wrapper" >
  <div id="right">
    <div id="showcase">

    </div>
  </div>
  <div id="left">
    <h1>Archi Movies</h1>
    <div id="signin-wrapper">
      <form [formGroup]='form' (ngSubmit)='login()'>
        <label>Email</label>
        <input type='text' formControlName='email' [@inputFocus]>
        <label>Password</label>
        <input type='password' formControlName='password' [@inputFocus]>
        <div>
          <button type='submit' [disabled]='!this.form.valid' [@buttonAnimation]>Login</button>
        </div>
      </form>
    </div>
  </div>


</div>

