.container {
    margin: 2em;
  }
  
  h1 {
    margin-bottom: 1em;
  }
  
  form {
    margin-top: 2em;
  }
  
  .btn-group {
    margin-top: 1em;
  }
  
  th {
    text-align: center;
  }
  
  td {
    vertical-align: middle;
  }
  
  input {
    width: 100%;
  }
  
  button[type="submit"] {
    margin-right: 1em;
  }
  